@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    background-color:rgb(128, 223, 128)
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
  padding: 0;
}

li {
    list-style: none;
}

/* Navigation Styles */

nav {
    height: 100px;
    padding: 0 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: rgb(211, 240, 219);
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 2em;
}

nav ul li {
    color: black;
}

.HoverTime{
    border-radius: 5px;
    padding: 3px;

}
.HoverTime:hover
{
    background-color: rgb(155, 207, 169);
}

.TopBar {
    background-color: rgb(55, 74, 60);
}
.TopBar a{
    font-size: 18px;
    text-align: center;
    color: rgb(211, 240, 219);
    text-decoration: none;
}

/* Main Styles */

main {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

main #best {
    padding-bottom: 0.5em;
    text-align: center;
}

main ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

main .card {
    background-color: #ede0c8;
    height: max-content;
    width: 200px;
}

main .card .info {
  margin: 1em 0;
  padding: 0 1em;
}

/* Footer Styles */

footer {
    /*width: clamp(600px,50%,700px);*/
    display: flex;
    justify-content: space-between;
}

