main {
  padding: 1em 0 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > * {
  transition: var(--transition-hover);
}

main .featured {
  margin-bottom: 1em;
}

main form {
  margin-bottom: 0;
}

main .title {
  font-family: 'Raleway', sans-serif;
  width: var(--width);
  margin-top: 1em;
}

main ul {
  width: var(--width);
}

main section,
main #categories {
  border: var(--border);
}

main section {
  background-color: var(--background);
  width: var(--width);
  height: min-content;
  border-radius: var(--radius);
  margin-top: 1em;
  padding: 4em 2.5em;
  display: flex;
  justify-content: space-between;
}

main section h3,
main section h1 {
  font-family: 'Raleway', sans-serif;
}

main section h1 {
  font-size: 4em;
  margin-bottom: 0.1em;
}

main section p {
  width: 450px;
  margin-bottom: 2em;
}

main section a {
  font-weight: bold;
  background-color: var(--accent);
  color: var(--white);
  border: var(--border);
  border-radius: var(--radius);
  margin-top: 1em;
  padding: 1em 1.5em;
  transition: var(--transition);
}

main section svg {
  width: 225px;
  transition: var(--transition);
  animation: display 2s infinite;
  transform-origin: center;
}

main #categories {
  background-color: var(--background);
  height: min-content;
  border-radius: var(--radius);
  margin: 1em 0;
  padding: 1em;
  display: flex;
  flex-flow: wrap;
  gap: 0.5em;
}

main #categories li form {
  width: max-content;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 5px;
}

main #categories li form input {
  color: var(--white);
  cursor: pointer;
  background: none;
  border: none;
}

main #featured,
main #list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
}

main button {
  background-color: var(--accent);
}

main button,
main #categories form {
  color: #fff;
  font-weight: bold;
  border: var(--border);
  border-radius: var(--radius);
  padding: 0.5em 0.8em;
  transition: var(--transition);
}

main,
main #list,
main #categories button,
.container {
  transition: var(--transition-hover);
}

main .card {
  background-color: var(--background);
  height: max-content;
  border: var(--border);
  border-radius: var(--radius);
  transition: var(--transition);
}

main .card .thumbnail {
  overflow: hidden;
}

main .card .thumbnail img {
  border-radius: var(--radius) var(--radius) 0 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: var(--transition-hover);
}

main .card .info {
  padding: 0.75em;
  color: var(--text);
  transition: var(--transition);
}

main .card .info form {
  padding-top: 0.5em;
}

main .card .info p {
  font-size: 14px;
}

.all {
  background-color: var(--accent);
}

.action {
  background-color: rgb(207, 38, 38);
  box-shadow: 0 8px 18px -8px rgba(125, 40, 40 50);
}

.adventure {
  background-color: rgb(99, 147, 16);
  box-shadow: 0 8px 18px -8px rgba(210, 133, 88, 0.5);
}

.arcade {
  background-color: rgb(193, 103, 51);
  box-shadow: 0 8px 18px -8px rgba(210, 133, 88, 0.5);
}

.casual {
  background-color: rgb(45, 143, 228);
  box-shadow: 0 8px 18px -8px rgba(80, 169, 249, 0.5);
}

.puzzle {
  background-color: rgb(224, 142, 0);
  box-shadow: 0 8px 18px -8px rgba(255, 163, 0, 0.5);
}

.racing {
  background-color: rgb(173, 78, 224);
  box-shadow: 0 8px 18px -8px rgba(203, 125, 246, 0.5);
}

.shooter {
  background-color: rgb(228, 93, 100);
  box-shadow: 0 8px 18px -8px rgba(255, 74, 82, 0.5);
}

.simulation {
  background-color: rgb(93, 228, 205);
  box-shadow: 0 8px 18px -8px rgba(86, 190, 194, 0.5);
}

.sports {
  background-color: rgb(77, 177, 44);
  box-shadow: 0 8px 18px -8px rgba(64, 201, 20, 0.5);
}

.strategy {
  background-color: rgb(227, 227, 22);
  box-shadow: 0 8px 18px -8px rgba(144, 144, 44 50);
}

.backtop {
  border-radius: 25px;
  background-color: var(--accent-shade);
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 25px;
  left: 25px;
}

main #list button:hover,
main section a:hover {
  background-color: var(--accent-shade);
}

main .card button:hover,
main #categories form:hover {
  transition: var(--transition-hover);
  transform: translate(0, -2px);
}

main .card:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

main .card:hover img {
  transform: scale(1.25);
}

#add-dialog {
  background-color: var(--background);
  border: var(--border);
  border-radius: var(--radius);
  z-index: 1;
}

#add-dialog form {
  display: flex;
  flex-direction: column;
}

#add-dialog label,
#add-dialog input {
  margin-top: 0.5em;
  color: var(--text);
}

textarea {
  color: var(--text);
}

input:not(input#image),
textarea {
  background-color: var(--background-shade);
  border: var(--border);
  border-radius: var(--radius);
  padding: 0.5em;
  caret-color: var(--text);
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

input::placeholder,
label input[type='submit'],
#close-add-dialog {
  margin-top: 1em;
}

textarea {
  height: 70px;
}

#add-dialog input[type='submit'],
#add-dialog button {
  background-color: var(--accent);
  color: #fff;
  font-weight: bold;
  border: var(--border);
  border-radius: var(--radius);
  padding: 0.5em 0.8em;
  transition: var(--transition);
}

.backtop:hover {
  background-color: var(--accent-tint);
}

@media only screen and (max-width: 749px) {
  main,
  main .title {
    margin: 1em 0;
  }

  main section {
    margin: 1em 0;
    flex-direction: column;
    align-items: center;
  }

  main section h1 {
    font-size: 2em;
  }

  main section p {
    width: 100%;
    margin-bottom: 0;
  }

  main section svg {
    order: -1;
    margin-bottom: 2em;
  }

  main section a,
  main #categories {
    display: none;
  }
}

@keyframes display {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
