@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

/* Consits of styles for
0. css variables
1. color theme
2. white and dark colors
3. header
4. footer
5. website media queries */

/* Andy Bell's Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* User Defined */

* {
  font-family: 'Roboto', Arial, sans-serif;
}

html {
  scroll-padding-top: 75px;
}

:root {
  --width: 1150px;
  --transition: 0.75s;
  --transition-hover: 0.25s ease-in-out;
  --border: 1px solid rgb(50, 50, 50);
  --radius: 5px;
  --white: #f5f5f5;
}

body {
  --accent: #3d9753;
  --accent-tint: #abeabb;
  --accent-shade: #59bb70;
  --background: #fff;
  --background-tint: #eee;
  --background-shade: var(--white);
  --text: #000;
  --shadow: rgb(50, 50, 50);
  --secondary: #83b7d7;
}

body.dark {
  --accent: #336c41;
  --accent-tint: #3d6848;
  --accent-shade: #2e5538;
  --background: #222;
  --background-tint: #4f4f4f;
  --background-shade: #2f2f2f;
  --text: #f5f5f5;
  --shadow: rgba(50, 50, 50, 1);
  --secondary: #315064;
}

.svg {
  fill: var(--text);
  transition: var(--transition);
}

.logo {
  width: auto;
}

.st0 {
  fill: #9A9A9A;
}

.st1 {
  fill: #E0E0E0;
}

.st2 {
  fill: #FF2B25;
}

.st3 {
  fill: #2F2F2F;
}

.st4 {
  fill: #FFFEFD;
}

.st5 {
  fill: #606568;
}

::selection {
  background: var(--secondary);
}

h1,
h2,
h3,
h4,
p,
a {
  color: var(--text);
  transition: var(--transition);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-shade);
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: var(--background);
}

header {
  box-shadow: 0 1px 0 var(--shadow);
  z-index: 1;
  position: sticky;
  top: 0;
}

header nav {
  width: var(--width);
  padding: 0.5em 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition-hover);
}

header nav #menubr {
  display: none;
}

header nav img,
header nav svg {
  cursor: pointer;
}

header nav .left {
  display: flex;
  align-items: center;
  gap: 2em;
}

header nav .left form {
  position: relative;
  margin: 0;
}

header nav form .search-icon {
  position: absolute;
  top: 45%;
  left: 10px;
  transform: translateY(-50%);
}

header nav .left #search {
  background-color: var(--background-shade);
  border: var(--border);
  border-radius: var(--radius);
  caret-color: var(--text);
  color: var(--text);
  width: 500px;
  height: 40px;
  padding: 0 2.5em;
  display: block;
}

header nav .left #search::placeholder {
  font-style: italic;
}

header nav .left #search:hover {
  background-color: var(--background-tint);
}

header nav .left #search:focus-visible {
  outline: 3px solid var(--accent);
}

header nav .right a {
  padding: 0.75em 1em;
  border: var(--border);
  border-radius: var(--radius);
}

header nav .right ul {
  display: flex;
  align-items: center;
  gap: 1em;
}

header nav .right ul li:hover:not(:last-child) a {
  transition: var(--transition-hover);
  background-color: var(--accent-tint);
  border-radius: var(--radius);
}

main {
  position: relative;
  flex: 1;
}

main::before {
  content: "";
  position: absolute;
  background: url("https://img.freepik.com/premium-vector/sketch-propolis-honey-comb-hand-drawn-grunge-honeycomb-black-white-image-bee-wax-comb-icon_502320-1891.jpg") repeat;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.15;
  z-index: -1;
}

footer {
  box-shadow: 0 -1px 0 var(--shadow);
}

footer .container {
  width: var(--width);
  margin: auto;
  padding: 3em 0;
  display: flex;
  gap: 8em;
}

footer .container section {
  margin-top: 1em;
}

footer .container section ul {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

footer .container .categories,
footer .container .links {
  width: 10em;
}

footer .container h4 {
  padding-bottom: 0.25em;
}

footer .container svg.logo {
  padding-bottom: 1em;
}

footer .container .icons ul {
  margin-top: 0.5em;
  flex-direction: row;
  gap: 1em;
}

/* Tablet */
@media only screen and (min-width: 750px) and (max-width: 1199px) {
  :root {
    --width: 85%;
  }

  header nav .left #search {
    width: 200px;
  }

  header nav .right #navlnk {
    gap: 0.5em;
  }

  footer .container {
    gap: 2em;
  }
}

/* Smartphone */
@media only screen and (max-width: 749px) {
  :root {
    --width: 85%;
  }

  header nav {
    flex-direction: column;
  }

  header nav #navlnk {
    display: none;
    width: 100%;
    padding-top: 0.5em;
    flex-direction: column;
  }

  header nav #navlnk.active {
    display: flex;
    align-items: center;
  }

  header nav li {
    text-align: center;
    padding: 0.5em 1em;
  }

  header nav div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav #menubr {
    display: block;
  }

  header nav .left form {
    display: none;
  }

  header nav .right #navlnk li a {
    border: none;
  }

  footer .container {
    padding: 1.5em 0 2.5em 0;
    flex-direction: column;
    gap: 0;
  }

  footer .container section:nth-child(4) {
    order: -1;
  }
}
