@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

/* Variables */

:root {
    --width: 1150px;
}

/* Global Styles */


* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #F5F5F5;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav, footer {
    background-color: #fff;
}

a {
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* Navigation Styles */

nav {
    box-shadow: 0 1px 0 rgba(51,51,51,0.07);
}

nav .container {
    height: 75px;
    width: var(--width);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .container a {
    font-weight: bold;
    font-size: 18px;
}

nav .container ul {
    display: flex;
}

nav .container ul li {
   padding: 1em; 
}

nav .container ul li:hover {
    background-color: #9BCFA9;
    border-radius: 5px;
}

/* Main Styles */

main {
    margin: 4em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

main #best {
    padding-bottom: 0.5em;
    text-align: center;
}

main ul {
    width: var(--width);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
}

main .card {
    background-color: #fff;
    height: max-content;
    width: 200px;
    border-radius: 5px;
}

main .card .thumbnail {
    width: 200px;
    height: 200px;
}

main .card .thumbnail img {
    border-radius: 5px 5px 0 0;
}

main .card .info {
    /* margin: 1em 0; */
    padding: .75em;
    color: black;
}

/* Footer Styles */

footer {
    box-shadow: 0 -1px 0 rgba(51,51,51,0.07);
}

footer .container {
    width: var(--width);
    margin: auto;
    padding: 2em 0;
    display: flex;
    gap: 8em;
}

footer .container section {
    margin-top: 1em;
}

footer .container .copyright a img {
    padding-bottom: 0.5em;
}

/* Responsive Styles */

/* Mobile Portrait */
@media only screen and (max-width: 767px) {

    :root {
        --width: 90%;
    }

    nav {
        height: 70px;
        justify-content: center;
    }

    nav .nav-links {
        display: none;
    }

    main {
        margin: 2em 0;
    }

    main ul {
        width: var(--width);
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        gap: 1em;   
    } 

    main .card {
        width: 150px;
    }

    main .card .info {
        margin: 0.5em 0;
    }

    main .card .info > * {
        font-size: 1em;
    }

    main .card a img {
        height: auto;
        width: 100%;
    }

    footer .container {
        flex-direction: column;
        gap: 0;
    }
}

/* Tablet Landscape */
@media only screen and (min-width: 768px) and (max-width: 1199px) {

    :root {
        --width: 80%;
    }

    main ul {
        width: var(--width);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;   
    } 

    footer .container {
        gap: 2em;
    }
}
